{%extends 'restaurant/base.html'%}
{%block content%}
<div class="container cmt">
  <section>
    <!-- image and content section -->
    <div class="image-wrap">
      {% load static %}
      <img src="{% static 'images/home-cover.jpg' %}" alt="My image" class="full-width">
      <div class="image-wrap-content" style="text-align: center;">
        <h1 class="text-center text-light title-lg">ONLY TASTE IS REAL FOR OUR FOOD</h1>
        <p class="text-center text-light title-xxs mb-lg">
          
        </p>
      </div>
    </div>
    <!-- hero section -->
    <div class="hero flex wrapper justify-center items-center mt-lg">
      <div class="half-width mr-lg">
        <div class="content-1">
          <h3 class="title-xs">Enjoy Our Delicious Food</h3>
          <p class="title-xxs">Mollitia placeat modi explicabo voluptatum corporis unde Dicta, provident Rem adipisci
            Mollitia placeat modi.</p>
        </div>
        <div class="content-1">
          <h3 class="title-xs">All Different Types</h3>
          <p class="title-xxs">Mollitia placeat modi explicabo voluptatum corporis unde Dicta, provident Rem adipisci
            Mollitia placeat modi.</p>
        </div>
        <div class="content-1">
          <h3 class="title-xs">Experience new flavors</h3>
          <p class="title-xxs">Mollitia placeat modi explicabo voluptatum corporis unde Dicta, provident Rem adipisci
            Mollitia placeat modi.</p>
        </div>
      </div>
      <img src="{% static 'images/hero.jpg' %}" alt="hero image">
    </div>
    <!-- restaurent feature system -->
    <div class="features wrapper">
      <div class="heading text-center half-width m-auto">
        <h3 class="title-md" style="margin-bottom: -3px;">Our Special Feature</h3>
        <p class="title-xxs">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga sit illo modi aut
          aspernatur tempore laboriosam saepe dolores eveniet.</p>
      </div>
      <div class="feat flex wrap mt-lg">
        <div class="card text-center flex-1">
          <p class="title-xs text-danger"><i class="fa fa-beer"></i></p>
          <p class="title-xs bold">Well Decorated</p>
          <p>Vivamus a ligula quam. Duis feugiat tortor sed Ut blandit. Duis feugiat tortor sed.</p>
        </div>
        <div class="card text-center flex-1">
          <p class="title-xs text-danger"><i class="fa fa-cutlery"></i></p>
          <p class="title-xs bold">Breakfast</p>
          <p>Vivamus a ligula quam. Duis feugiat tortor sed Ut blandit. Duis feugiat tortor sed.</p>
        </div>
        <div class="card text-center flex-1">
          <p class="title-xs text-danger"><i class="fa fa-handshake-o"></i></p>
          <p class="title-xs bold">Expert Chef</p>
          <p>Vivamus a ligula quam. Duis feugiat tortor sed Ut blandit. Duis feugiat tortor sed.</p>
        </div>
        <div class="card text-center flex-1">
          <p class="title-xs text-danger"><i class="fa fa-smile-o"></i></p>
          <p class="title-xs bold">Quick Serve</p>
          <p>Vivamus a ligula quam. Duis feugiat tortor sed Ut blandit. Duis feugiat tortor sed.</p>
        </div>
        <div class="card text-center flex-1">
          <p class="title-xs text-danger"><i class="fa fa-diamond"></i></p>
          <p class="title-xs bold">Delicious Food</p>
          <p>Vivamus a ligula quam. Duis feugiat tortor sed Ut blandit. Duis feugiat tortor sed.</p>
        </div>
      </div>
    </div>
    <!-- advertisement system -->
    <div class="ad wrapper-y">
      {% load static %}
      <img src="{% static 'images/advertisement.jpg' %}" alt="My image" class="full-width">
      <div class="half-width ad-con">
        <p class="text-center text-light title-lg">ENJOY OUR DELICIOUS FOOD</p>
        <p class="text-center text-light title-xxs mb-lg" style="margin-top: -36px;">
          Fugit tempora dolor dolore recusandae aut at cum autem esse
          neque. Consequuntur dolor sequi nulla corrupti blanditiis similique
        </p>
      </div>
    </div>
  </section>
</div>
{%endblock%}